<html>
<head>
    <title>Success</title>
    <link href="style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <header>

        <div class="row">
            <ul class="main-nav">

                <li><a href="">CLOTHES, SOCKS, AND BLANKETS</a></li>
                <li><a href="">PERSONAL CARE ITEMS</a></li>
                <li><a href="">SHEETS, TOWELS, AND COOKWARE</a></li>
                <li><a href="">FOOD AND DRINKS</a></li>

            </ul>
        </div>
        <div class="hero">
            <h1>Congratulations! <br /> You will receive assistance shortly</h1>
            <div class="button-awesome">
                <a href="" class="btn btn-half">Get more information</a>
            </div>
        </div>
    </header>



</body>
</html>