<html>
<head>
    <title>Success</title>
    <link href="style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <header>

        <div class="row">
            <ul class="main-nav">

                <li><a href="">VIEW YOUR PAYMENT <br /> HISTORY </a></li>
                <li><a href=""></a></li>
                <li><a href="">OTHER WAYS TO SUPPORT <br /> THOSE IN NEED </a></li>
                <li><a href="">ABOUT PARIBUS </a></li>
                <li><a href="">CONTACT US </a></li>

            </ul>
        </div>
        <div class="hero">
            <h1>Thank you for your donation! <br /> Your generosity and compassion <br /> will go a long way</h1>
        </div>

        <div class="thanks">
            <img src="style/images/thanks4.png" />
        </div>

        <div class="button-awesome">
            <a href="" class="btn btn-half">Get more information about how your donations will be used</a>
        </div>
    </header>



</body>
</html>